@media screen {
    
    header{
        font-size: 32px;
    }

    body {
        background-image: url("https://www.jing.fm/clipimg/detail/48-488715_pikachu-clipart-free-download-cute-pokemon-transparent-background.png");
        background-color: rgb(238, 238, 238);
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: right 30px;
        
      }

    .footerWrap {
        width:100%;
        position:fixed;
        bottom: 0px;
    }
    .footer {
        width:400px;
        margin:auto;
    }
    .footerContent {
        float:left;
        width:100%;
        padding:20px 0;
    }
    .footer p {float:left; width:100%; text-align:center; }

}