<h1>Login</h1>
<form action="/login" method="post">
    Enter Email: <input type=text name="email" >
    Enter Password: <input type=password name="password" >
    <input type=submit value="Login" >
</form>