responsible for rendering the pokemon form


<form action="/pokemons" method="pokemon">
    Name: <input type="text" name="name">
    Move: <textarea name="move"></textarea>
    Location <textarea name="location"></textarea>
    <input type="submit" value="Create Pokemon">
</form>