Your favorite Pokemon not on the list? Create them down below!

<form action="/pokemons" method="post">
    Name: <input type="text" name="pokemon[name]"><br>
    Move: <input type="move" name="pokemon[move]"><br>
    Location: <input type="location" name="pokemon[location]"><br>
    <input type="submit" value="Create Pokemon">
</form>

