<div class="index">
    



Welcome Trainer! Would you like to <br><br>

<a href='/login'><input type="submit" value="Login"></a><br>
or<br>
<a href='/signup'><input type="submit" value="Sign Up"></a>

</div>
    
