<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Gotta Catch 'em All</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/new.css" />
  </head>



  <body>

    
    
  
    <div class="wrapper">
      <header>
      <br>Welcome to the Pokemon log click here to see a <a href="/pokemons"><input type="submit" value="running list"></a><br>
      <br>
      <%if logged_in?%>
        <a href="/users/<%=current_user.id%>"><img src="https://www.pngfind.com/pngs/m/255-2554477_pokeball-small-pokeball-cross-stitch-hd-png-download.png"><input type="submit" value="Your Pokedex"></a><br><br>
      <%end%>


      </header>

        <%= yield %>
      
      <footer class="branding">
        <%if logged_in?%>
          <a href="/logout"><input type="submit" value="Logout"></a>
        <%end%>
        <small>&copy; 2021 <strong>Your Pokedex</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>